.topbar {
  display: flex;
  flex-direction: row;
  height: 54px;
  border-bottom: 1px solid #425167;
}

.mainbar {
  height: 54px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@keyframes example {
  0% {
    color: red;
  }
  20% {
    color: yellow;
  }
  40% {
    color: lightblue;
  }
  60% {
    color: purple;
  }
  80% {
    color: pink;
  }
  100% {
    color: lightgreen;
  }
}

.logo {
  display: flex;
  font-family: "Bookman Old Style", arial;
  font-size: 50px;
  color: #ffffff;
  margin: 0px;
  padding-left: 22px;
  cursor: pointer;
}

.f {
  display: flex;
  height: 54px;
  width: 100%;
  border-bottom: 1px solid #425167;
}

.logo:hover {
  animation-name: example;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  cursor: pointer;
}

.homeMainBar {
  height: 54px;
  display: flex;
  flex-direction: row;
}

.homeLogo {
  font-family: "Bookman Old Style", arial;
  font-size: 50px;
  color: #ffffff;
  margin: 0px;
  padding-left: 22px;
  padding-right: 20px;
  cursor: pointer;
}

.homeLogo:hover {
  animation-name: example;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  cursor: pointer;
}

.signup {
  padding-left: 203px;
  padding-top: 12px;
}

.signUpButton {
  height: 33px;
  width: 87px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 2px;
  font-weight: bolder;
  font-size: 12px;
  color: #444444;
  cursor: pointer;
}

.login {
  display: grid;
  grid-template-columns: repeat(3, 34%);
  grid-template-rows: repeat(1, 100%);
  color: white;
  text-align: center;
  height: 400px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px;
}

.logButton {
  height: 33px;
  width: 87px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 2px;
  font-weight: bolder;
  font-size: 12px;
  color: white;
  border: 0;
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.fumblr {
  grid-column: 2;
  grid-row: 1;
  height: 50px;
  weight: 223px;
  font-size: 30px;
  margin-top: 80px;
  margin-bottom: 30px;
}

.email {
  padding-left: 13px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-right: 10px;
  height: 22px;
  width: 277px;
  border-radius: 0;
  box-shadow: none;
  border: 0;
}

.next {
  height: 40px;
  width: 300px;
  border-radius: 0;
  box-shadow: none;
  border: 0;
  margin-top: 10px;
  background-color: #46b7f8;
  color: white;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}

.foot {
  display: flex;
  justify-content: space-between;
  height: 25px;
  width: 250px;
  position: absolute;
  bottom: 0;
}

a {
  text-decoration: none;
  color: white;
}

.register {
  margin-top: 150px;
  color: white;
  display: block;
  text-align: center;
  height: 200px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px;
}

.getStarted {
  height: 40px;
  width: 300px;
  border-radius: 0;
  box-shadow: none;
  border: 0;
  margin-top: 10px;
  background-color: #46b7f8;
  color: white;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}

.logIn {
  height: 40px;
  width: 300px;
  border-radius: 0;
  box-shadow: none;
  border: 0;
  margin-top: 10px;
  background-color: #ffffff;
  color: #4c4c4c;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}

.regForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reg {
  padding-left: 13px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-right: 10px;
  height: 22px;
  width: 277px;
  border-radius: 0;
  border: 0.5;
}

.logout {
  height: 33px;
  width: 87px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 2px;
  font-weight: bolder;
  font-size: 12px;
  color: white;
  border: 0;
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.logForm {
  grid-column: 2;
  grid-row: 1;
  margin-top: 200px;
}

.midDash {
  display: grid;
  grid-template-columns: 10% 30% 15%;
  grid-template-rows: 20% 50% 40% 10%;
  height: 500px;
  justify-content: center;
}

.userPost {
  align-content: center;
  height: auto;
  width: auto;
  background-color: white;
  grid-row: 2/4;
  grid-column: 2;
}

.userPic {
  height: auto;
  grid-column: 2;
  grid-row: 1/4;
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  background-color: white;
  border-bottom: 1px solid #425167;
}

.userImg {
  margin-top: 5px;
  margin-left: 5px;
  height: 70px;
  width: 70px;
  border-radius: 50px;
  border: 2px solid black;
  grid-column: 2;
  grid-row: 1/4;
}

.postImg {
  align-items: center;
  height: 220px;
  width: 400px;
  grid-column: 2;
  grid-row: 2/4;
  margin: 5px;
  margin-left: 15px;
}

.body {
  grid-column: 2;
  grid-row: 3/4;
  margin-left: 5px;
  overflow: scroll;
  word-wrap: normal;
  height: 200px;
  width: auto;
  margin-right: 5px;
}
.name {
  text-decoration: underline;
  margin-left: 5px;
  margin-top: 5px;
}

.tags {
  grid-column: 2;
  grid-row: 4/4;
}

.hash {
  margin-left: 5px;
}

.likes {
  grid-column: 2;
  grid-row: 4/4;
  margin-right: 5px;
}

.bottomPost {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 0px 0px 5px 5px;
  grid-column: 2;
  grid-row: 4/4;
}

.newPost {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.postButton {
  height: 40px;
  width: 300px;
  border-radius: 0;
  box-shadow: none;
  border: 0;
  margin-top: 10px;
  background-color: #ffffff;
  color: #4c4c4c;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}
